:root{
    --red:rgb(129, 0, 0);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: pink;
    /* padding-top: 20px; */
}

body{
    background-color: black;
}

#root{
    background-color: rgb(54, 54, 54);
    /* padding-top: 50px; */
    /* top: 0; */
    /* margin: 0; */
    height: 100vh;
    padding-top: 50px;
}

.container{
    /* background-color: black; */
}

.Carta{
    background-color: var(--red);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
}

.Carta:hover{
    opacity: 0.7;
}
.menu{
    background-color:  rgb(129, 0, 0);
    border-radius: 5px;
    /* margin-top: 100px; */
}
.CharactersRow{
    /* background-color: black; */
}
/* modal */
.modal{
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-header,.modal .modal-footer{
    background-color:rgb(54, 54, 54);
    color: red;
   
}
.modal-body{
    color: red;
    background-color:rgb(54, 54, 54);
}
.modal .modal-header {
  border-bottom: 1px solid black;
}
.modal .modal-footer{
  border-top: 1px solid black;

}

.btnNou:hover{
    opacity: 0.9;
}

.titol{
    color:rgb(129, 0, 0) ;
}
